In [1]:
a = 42
b = 5.4
c = True
d = 'inman'

aType = type(a)
bType = type(b)
cType = type(c)
dType = type(d)

print(aType, bType, cType, dType)

<class 'int'> <class 'float'> <class 'bool'> <class 'str'>

In [4]:
a = 7/2
b = 7//2
c = 7**2
d = 7%2

print(a, b, c, d)

3.5 3 49 1

In [5]:
a = 10
b = 0b10
c = 0o10
d = 0x10

print(a, b, c, d)

10 2 8 16

In [2]:
a = type(int('123'))
b = type(float('15.02'))
c = type(bool(0))
d = type(str(123))

print(a, b, c, d)

<class 'int'> <class 'float'> <class 'bool'> <class 'str'>

In [1]:
#str不可變
name = 'inman'
name.replace('i','o')

'onman'

In [1]:
a = '蘋果、柳丁、芭樂'
b = a.split('、')
c = '%'.join(b)
print(b, c)

['蘋果', '柳丁', '芭樂'] 蘋果%柳丁%芭樂

In [3]:
data = 'inman:0926555875:0984022801:27'
name, *number, age = data.split(':')
number

['0926555875', '0984022801']

In [1]:
a = 'panama'
a.count('a')

3

In [3]:
x = 10
y = 10
id(x) ,id(y)

(140707935068848, 140707935068848)

In [4]:
x = 100000000000000
y = 100000000000000
id(x), id(y)

(2648449071824, 2648449071120)