In [2]:
x = 10
y = 10
id(x) ,id(y)

(140709041578672, 140709041578672)

In [3]:
x = 100000000000000
y = 100000000000000
id(x), id(y)

(2770974406160, 2770974406128)

In [4]:
a = 42
b = 5.4
c = True
d = 'inman'

aType = type(a)
bType = type(b)
cType = type(c)
dType = type(d)

print(aType, bType, cType, dType)

<class 'int'> <class 'float'> <class 'bool'> <class 'str'>

In [5]:
a = 7/2
b = 7//2
c = 7**2
d = 7%2

print(a, b, c, d)

3.5 3 49 1

In [6]:
a = 10
b = 0b10
c = 0o10
d = 0x10

print(a, b, c, d)

10 2 8 16

In [7]:
a = type(int('123'))
b = type(float('15.02'))
c = type(bool(0))
d = type(str(123))

print(a, b, c, d)

<class 'int'> <class 'float'> <class 'bool'> <class 'str'>

In [8]:
#str不可變
name = 'inman'
name.replace('i','o')

'onman'

In [9]:
a = '蘋果、柳丁、芭樂'
b = a.split('、')
c = '%'.join(b)
print(b, c)

['蘋果', '柳丁', '芭樂'] 蘋果%柳丁%芭樂

In [10]:
data = 'inman:0926555875:0984022801:27'
name, *number, age = data.split(':')
number

['0926555875', '0984022801']

In [11]:
a = 'panama'
a.count('a')

3

In [12]:
s = 'OH, my paws and whiskers!'
s.capitalize(), s.swapcase(), s.title(), s.upper()

('Oh, my paws and whiskers!',
 'oh, MY PAWS AND WHISKERS!',
 'Oh, My Paws And Whiskers!',
 'OH, MY PAWS AND WHISKERS!')

In [13]:
s.count('w'), s.find('w'), s.index('w'), s.rfind('w'), s.rindex('w'), s.startswith('OH')

(2, 9, 9, 16, 16, True)

In [14]:
s.center(30), s.ljust(30), s.rjust(30)

('  OH, my paws and whiskers!   ',
 'OH, my paws and whiskers!     ',
 '     OH, my paws and whiskers!')

In [15]:
s.isalnum(), s.isalpha(), s.isprintable(), s.istitle(), s.isupper(), s.isdecimal(), s.isnumeric()

(False, False, True, False, False, False, False)

In [18]:
import decimal
from decimal import Decimal

In [20]:
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [22]:
Decimal(1) / Decimal (11)

Decimal('0.09090909090909090909090909091')

In [23]:
decimal.getcontext().prec = 4

In [25]:
Decimal(1) / Decimal (11)

Decimal('0.09090909090909090909090909091')

In [29]:
decimal.getcontext().prec = 50

In [30]:
Decimal(1) / Decimal (11)

Decimal('0.09090909090909090909090909091')