In [1]:
list('cat')

['c', 'a', 't']

In [2]:
fruit = ['apple', 'banana', 'orange']
fruit[::-1]

['orange', 'banana', 'apple']

In [3]:
fruit = ['apple', 'banana', 'orange']
fruit.append('watermelon')
print(fruit)

['apple', 'banana', 'orange', 'watermelon']

In [4]:
fruit = ['apple', 'banana', 'orange']
car = ['BMW', 'Mercedes']
fruit.append(car)
print(fruit)

['apple', 'banana', 'orange', ['BMW', 'Mercedes']]

In [5]:
fruit = ['apple', 'banana', 'orange']
car = ['BMW', 'Mercedes']
fruit.extend(car)
print(fruit)

['apple', 'banana', 'orange', 'BMW', 'Mercedes']

In [6]:
fruit = ['apple', 'banana', 'orange']
car = ['BMW', 'Mercedes']
fruit.insert(2,car)
print(fruit)

['apple', 'banana', ['BMW', 'Mercedes'], 'orange']

In [7]:
fruit = ['apple', 'banana', 'orange']
del fruit[1]
print(fruit)

['apple', 'orange']

In [8]:
fruit = ['apple', 'banana', 'orange']
fruit.remove('apple')
print(fruit)

['banana', 'orange']

In [9]:
fruit = ['apple', 'banana', 'orange']
fruit.pop()
print(fruit)

['apple', 'banana']

In [10]:
fruit = ['apple', 'banana', 'orange','orange']
a = fruit.count('orange')
print(a)

2

In [11]:
#sort直接改
l = ['a', 'c', 'd', 'b']
l.sort()
l

['a', 'b', 'c', 'd']

In [12]:
#sorted回傳副本
old = ['a', 'c', 'd', 'b']
new = sorted(l)
print(old, new)

['a', 'c', 'd', 'b'] ['a', 'b', 'c', 'd']

In [13]:
#sort直接改
l = ['a', 'c', 'd', 'b']
l.sort(reverse=True)

In [14]:
#old跟new的ref一樣
old = ['apple', 'banana', 'orange','orange']
new = old
old[1] = '讚'
print(new)

['apple', '讚', 'orange', 'orange']

In [15]:
#製作副本方法:
#copy() list() l[1:5:1]
old = ['apple', 'banana', 'orange','orange']
new1 = old.copy()
new2 = list(old)
new3 = old[1:]
old[1] = '讚'
print(old, new1, new2, new3)

['apple', '讚', 'orange', 'orange'] ['apple', 'banana', 'orange', 'orange'] ['apple', 'banana', 'orange', 'orange'] ['banana', 'orange', 'orange']

In [1]:
#tuple unpacking
fruit = ('apple', 'banana', 'orange','orange')
a,_,c,_ = fruit
print(a,c)

apple orange

In [6]:
data = ['inman', 27, (2020,5,30)]
name, age, (year, month, day) = data
name, year

('inman', 2020)

In [1]:
l = range(1,10)
first, *middle, last = l
middle

[2, 3, 4, 5, 6, 7, 8]

In [3]:
l = [32, 434, 53, 45]
head, *last = l
head

32

In [4]:
#namedtuple
#其實 namedtuple 就是一個輕量級的class，代碼更簡潔，當我們的class非常簡單，
#只有屬性又不需要定義其他方法(method)時，完全可以用 namedtuple來代替class

from collections import namedtuple
friend = namedtuple('myFriend',['name','age'])
#friend = namedtuple('myfriend', 'name age')也可
f1 = friend('inman',22)
f1, f1.name, f1.age, f1[0], f1[1]

(myFriend(name='inman', age=22), 'inman', 22, 'inman', 22)

In [6]:
f1._fields, f1._asdict()

(('name', 'age'), OrderedDict([('name', 'inman'), ('age', 22)]))