In [7]:
with open('000_inman file', 'wt') as inman1:
    inman1.write('hi do you ?')

In [11]:
with open('000_inman file', 'rt') as inman2:
    print(inman2.read())

hi do you ?

In [29]:
#tell() 回傳目前位移植
#seek() 跳至某位移植
with open('000_inman file', 'rt') as inman2:
    print(inman2.tell())
    print(inman2.read())
    inman2.seek(2)
    print(inman2.tell())
    print(inman2.read())

0
hi do you ?
2
 do you ?

In [39]:
#有想忽略的逗號
lines = '''"AAA", "BBB", "Test, Test", "CCC"
           "111", "222, 333", "XXX", "YYY, ZZZ"'''.splitlines()
for l in  csv.reader(lines, quotechar='"', delimiter=',',
                     quoting=csv.QUOTE_ALL, skipinitialspace=True):
          print (l)

['AAA', 'BBB', 'Test, Test', 'CCC']
['111', '222, 333', 'XXX', 'YYY, ZZZ']

In [40]:
text = '''author, book
J R R Tolkien, The Hobbit
Lynne Truss, "Eats, Shoots & Leaves"
'''
with open('000_books.csv', 'wt') as books:
    books.write(text)

#有想忽略的逗號
import csv
with open('000_books.csv', 'rt') as books:
    x = csv.DictReader(books, quotechar='"', delimiter=',',quoting=csv.QUOTE_ALL, skipinitialspace=True)
    for a in x:
        print(a)

OrderedDict([('author', 'J R R Tolkien'), ('book', 'The Hobbit')])
OrderedDict([('author', 'Lynne Truss'), ('book', 'Eats, Shoots & Leaves')])

In [56]:
text = '''title,author,year
The Weirdstone of Brisingamen, Alan Garner,1960
Perdido Street Station, China Mi.ville, 2000
Thud!,Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007
Small Gods, Terry Pratcheet, 1992'''

with open ('000_book2.csv', 'wt') as books:
    books.write(text)

In [69]:
import sqlite3
db = sqlite3.connect('000_books.db')
curs = db.cursor()
#curs.execute('''CREATE TABLE book123 (title text,author text,year int)''')
db.commit()

In [65]:
import csv
import sqlite3

with open('000_book2.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute('INSERT INTO book123 VALUES(?, ?, ?)', (book['title'], book['author'], book['year']) )
db.commit()

In [67]:
curs.execute('SELECT * FROM book123')
curs.fetchall()

[('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('Small Gods', ' Terry Pratcheet', 1992)]

In [72]:
[x for x in db.execute('SELECT * FROM book123')]

[('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('Small Gods', ' Terry Pratcheet', 1992)]

In [74]:
[x for x in db.execute('SELECT title FROM book123')]

[('The Weirdstone of Brisingamen',),
 ('Perdido Street Station',),
 ('Thud!',),
 ('The Spellman Files',),
 ('Small Gods',),
 ('The Weirdstone of Brisingamen',),
 ('Perdido Street Station',),
 ('Thud!',),
 ('The Spellman Files',),
 ('Small Gods',),
 ('The Weirdstone of Brisingamen',),
 ('Perdido Street Station',),
 ('Thud!',),
 ('The Spellman Files',),
 ('Small Gods',),
 ('The Weirdstone of Brisingamen',),
 ('Perdido Street Station',),
 ('Thud!',),
 ('The Spellman Files',),
 ('Small Gods',)]

In [76]:
[x for x in db.execute('SELECT * FROM book123 ORDER BY year' )]

[('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('The Spellman Files', ' Lisa Lutz', 2007)]

In [83]:
#用sqlalchemy連結上一個sqlite3的db
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///000_books.db')
[x for x  in conn.execute('SELECT * FROM book123 ORDER BY year')]

[('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', ' Alan Garner', 1960),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('Small Gods', ' Terry Pratcheet', 1992),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Perdido Street Station', ' China Mi.ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('The Spellman Files', ' Lisa Lutz', 2007),
 ('The Spellman Files', ' Lisa Lutz', 2007)]