In [7]:
#變數只是標籤
#物件的id被建立之後，就不會改變了，
#或許可以將id想成是記憶體位置
# ==會比較值，is會比較id
# is 比 == 還快，因為不用多載

a = {'id':'inman','height':175}
c = {'id':'inman','height':175}
b = a
a is b, a == b, a is c, a==c

(True, True, False, True)

In [1]:
#某些物件是單例singleton
#例如None

a = None
b = None
a is b ,a == b

(True, True)

In [1]:
#tuple的[:]與tuple()不會創造新的物件
t1 = (1,2,3)
t2 = t1[:]
t3 = tuple(t1)

t1 is t2, t1 is t3

(True, True)

In [4]:
t4 = (1,2,3)
t5 = (1,2,3)
t4 is t5

False

In [5]:
s1 = 'ABC'
s2 = 'ABC'
s1 is s2

True