In [11]:
#shallow copy淺複製
#注意[11,22,33]
#可變物件淺複製只是複製參考
l1 = [0, [11,22,33], (100,200,300)]
l2 = list(l1)
l1.append(10)
l1[1].remove(33)
l1, l2

([0, [11, 22], (100, 200, 300), 10], [0, [11, 22], (100, 200, 300)])

In [12]:
l2[1] += [44]
l2[2] += (400,)
l1, l2

([0, [11, 22, 44], (100, 200, 300), 10],
 [0, [11, 22, 44], (100, 200, 300, 400)])

In [14]:
#deep copy深複製
import copy
l3 = [0, [11,22,33], (100,200,300)]
l4 = copy.deepcopy(l3)
l3.append(10)
l3[1].remove(33)
l3, l4

([0, [11, 22], (100, 200, 300), 10], [0, [11, 22, 33], (100, 200, 300)])

In [16]:
l4[1] += [44]
l4[2] += (400,)
l3, l4

([0, [11, 22], (100, 200, 300), 10],
 [0, [11, 22, 33, 44, 44], (100, 200, 300, 400, 400)])