In [4]:
import numpy as np
import pandas as pd

In [11]:
data = np.random.standard_normal((10000000, 2))  
df = pd.DataFrame(data, columns=['x','y'])
df

                x         y
0        0.199517  1.073448
1        0.618241  1.038166
2       -0.557817  1.121925
3       -1.235146 -0.157308
4        0.617087 -0.246455
...           ...       ...
9999995 -0.898484  0.928837
9999996 -0.464633 -0.189429
9999997  0.966848 -0.697564
9999998 -1.337349  0.722196
9999999 -0.526633 -0.892590

[10000000 rows x 2 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000000 entries, 0 to 9999999
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   x       float64
 1   y       float64
dtypes: float64(2)
memory usage: 152.6 MB

In [15]:
#在pandas有時會不確定哪個方式效能好，務必timeit看看

%timeit res = df['x'] + df['y']  #方法1
%timeit res = df.sum(axis=1)     #方法2
%timeit res = df.values.sum(axis=1)  #方法3
%timeit res = np.sum(df, axis=1)  #方法4
%timeit res = np.sum(df.values, axis=1)  #方法5

16.5 ms ± 267 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
232 ms ± 5.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
102 ms ± 329 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
230 ms ± 3.25 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
102 ms ± 992 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)