In [22]:
import pandas as pd
import numpy as np

import datetime
from datetime import datetime, date, time

In [23]:
#請參考 22_Date Datetime.ipynb

In [24]:
# 'foo'會產生error
dti = pd.to_datetime(['Aug 1, 2014', '2014-08-02', '2014.8.3', None, 'foo'],errors="coerce")
dti

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', 'NaT', 'NaT'], dtype='datetime64[ns]', freq=None)

In [25]:
dates = [datetime(2014, 8, 1), datetime(2014, 8, 2)]
ts = pd.Series(np.random.randn(2), dates)
ts

2014-08-01   -0.494929
2014-08-02    1.071804
dtype: float64

In [26]:
# DatetimeIndex
type(ts.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [27]:
type(ts.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [28]:
np.random.seed(123456)
periods = pd.date_range('8/1/2014', periods=10)
date_series = pd.Series(np.random.randn(10), index=periods)
date_series

2014-08-01    0.469112
2014-08-02   -0.282863
2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
2014-08-10   -2.104569
Freq: D, dtype: float64

In [29]:
date_series['2014-08-03':'2014-08-07']

2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
Freq: D, dtype: float64

In [31]:
date_series['2014-08']

2014-08-01    0.469112
2014-08-02   -0.282863
2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
2014-08-10   -2.104569
Freq: D, dtype: float64