In [2]:
import pandas as pd
import numpy as np

In [18]:
pd.Series(np.arange(4, 9))

0    4
1    5
2    6
3    7
4    8
dtype: int32

In [21]:
temp = pd.Series(np.arange(4, 90))
temp *2

0       8
1      10
2      12
3      14
4      16
     ...
81    170
82    172
83    174
84    176
85    178
Length: 86, dtype: int32

In [25]:
temp.head(n=3)

0    4
1    5
2    6
dtype: int32

In [27]:
temp.tail(n=2)

84    88
85    89
dtype: int32

In [28]:
# only take specific items by position
temp.take([1, 5, 8])

1     5
5     9
8    12
dtype: int32

In [14]:
temp.values, temp.index

(array([4, 5, 6, 7, 8]), RangeIndex(start=0, stop=5, step=1))

In [5]:
pd.Series(np.linspace(0,9,5))

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

In [8]:
np.random.seed(12345)
pd.Series(np.random.normal(size=5))

0   -0.204708
1    0.478943
2   -0.519439
3   -0.555730
4    1.965781
dtype: float64

In [30]:
np.random.seed(123456)
s1 = pd.Series(np.random.randn(4), ['a', 'b', 'c', 'd'])
s1

a    0.469112
b   -0.282863
c   -1.509059
d   -1.135632
dtype: float64