In [2]:
import pandas as pd
import numpy as np

In [2]:
sensor_data = pd.read_csv("data/sensors.csv")
sensor_data

    interval       sensor axis  reading
0          0        accel    Z      0.0
1          0        accel    Y      0.5
2          0        accel    X      1.0
3          1        accel    Z      0.1
4          1        accel    Y      0.4
5          1        accel    X      0.9
6          2        accel    Z      0.2
7          2        accel    Y      0.3
8          2        accel    X      0.8
9          3        accel    Z      0.3
10         3        accel    Y      0.2
11         3        accel    X      0.7
12         0  orientation    Z      0.0
13         0  orientation    Y      0.1
14         0  orientation    X      0.0
15         1  orientation    Z      0.0
16         1  orientation    Y      0.2
17         1  orientation    X      0.1
18         2  orientation    Z      0.0
19         2  orientation    Y      0.3
20         2  orientation    X      0.2
21         3  orientation    Z      0.0
22         3  orientation    Y      0.4
23         3  orientation    X      0.3

In [3]:
grouped_by_sensor = sensor_data.groupby('sensor')
grouped_by_sensor

In [4]:
grouped_by_sensor.ngroups
#2個 group

2

In [5]:
grouped_by_sensor.size()

sensor
accel          12
orientation    12
dtype: int64

In [6]:
grouped_by_sensor.count()

             interval  axis  reading
sensor
accel              12    12       12
orientation        12    12       12

In [7]:
grouped_by_sensor.groups

{'accel': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'orientation': [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]}

In [8]:
grouped_by_sensor.get_group('accel')[:5]

   interval sensor axis  reading
0         0  accel    Z      0.0
1         0  accel    Y      0.5
2         0  accel    X      1.0
3         1  accel    Z      0.1
4         1  accel    Y      0.4

In [11]:
# get the first two items in each group
grouped_by_sensor.head(2)

    interval       sensor axis  reading
0          0        accel    Z      0.0
1          0        accel    Y      0.5
12         0  orientation    Z      0.0
13         0  orientation    Y      0.1

In [13]:
def print_groups (group_object):
    for name, group in group_object:
        print (name)
        print (group[:5])

In [14]:
print_groups(grouped_by_sensor)

accel
   interval sensor axis  reading
0         0  accel    Z      0.0
1         0  accel    Y      0.5
2         0  accel    X      1.0
3         1  accel    Z      0.1
4         1  accel    Y      0.4
orientation
    interval       sensor axis  reading
12         0  orientation    Z      0.0
13         0  orientation    Y      0.1
14         0  orientation    X      0.0
15         1  orientation    Z      0.0
16         1  orientation    Y      0.2

In [11]:
grouped_by_sensor.describe()

            interval                                           reading  \
               count mean       std  min   25%  50%   75%  max   count
sensor
accel           12.0  1.5  1.167748  0.0  0.75  1.5  2.25  3.0    12.0
orientation     12.0  1.5  1.167748  0.0  0.75  1.5  2.25  3.0    12.0


                 mean       std  min  25%   50%    75%  max
sensor
accel        0.450000  0.328910  0.0  0.2  0.35  0.725  1.0
orientation  0.133333  0.143548  0.0  0.0  0.10  0.225  0.4

In [15]:
grouped_by_sensor.mean()

             interval   reading
sensor
accel             1.5  0.450000
orientation       1.5  0.133333

In [17]:
# Grouping using muiltiple columns
mcg = sensor_data.groupby(['sensor', 'axis'])
print_groups(mcg)

('accel', 'X')
    interval sensor axis  reading
2          0  accel    X      1.0
5          1  accel    X      0.9
8          2  accel    X      0.8
11         3  accel    X      0.7
('accel', 'Y')
    interval sensor axis  reading
1          0  accel    Y      0.5
4          1  accel    Y      0.4
7          2  accel    Y      0.3
10         3  accel    Y      0.2
('accel', 'Z')
   interval sensor axis  reading
0         0  accel    Z      0.0
3         1  accel    Z      0.1
6         2  accel    Z      0.2
9         3  accel    Z      0.3
('orientation', 'X')
    interval       sensor axis  reading
14         0  orientation    X      0.0
17         1  orientation    X      0.1
20         2  orientation    X      0.2
23         3  orientation    X      0.3
('orientation', 'Y')
    interval       sensor axis  reading
13         0  orientation    Y      0.1
16         1  orientation    Y      0.2
19         2  orientation    Y      0.3
22         3  orientation    Y      0.4
('orientation', 'Z')
    interval       sensor axis  reading
12         0  orientation    Z      0.0
15         1  orientation    Z      0.0
18         2  orientation    Z      0.0
21         3  orientation    Z      0.0

In [18]:
mcg.describe()

                 interval                                           reading  \
                    count mean       std  min   25%  50%   75%  max   count
sensor      axis
accel       X         4.0  1.5  1.290994  0.0  0.75  1.5  2.25  3.0     4.0
            Y         4.0  1.5  1.290994  0.0  0.75  1.5  2.25  3.0     4.0
            Z         4.0  1.5  1.290994  0.0  0.75  1.5  2.25  3.0     4.0
orientation X         4.0  1.5  1.290994  0.0  0.75  1.5  2.25  3.0     4.0
            Y         4.0  1.5  1.290994  0.0  0.75  1.5  2.25  3.0     4.0
            Z         4.0  1.5  1.290994  0.0  0.75  1.5  2.25  3.0     4.0


                  mean       std  min    25%   50%    75%  max
sensor      axis
accel       X     0.85  0.129099  0.7  0.775  0.85  0.925  1.0
            Y     0.35  0.129099  0.2  0.275  0.35  0.425  0.5
            Z     0.15  0.129099  0.0  0.075  0.15  0.225  0.3
orientation X     0.15  0.129099  0.0  0.075  0.15  0.225  0.3
            Y     0.25  0.129099  0.1  0.175  0.25  0.325  0.4
            Z     0.00  0.000000  0.0  0.000  0.00  0.000  0.0

In [19]:
mcg.mean()

                  interval  reading
sensor      axis
accel       X          1.5     0.85
            Y          1.5     0.35
            Z          1.5     0.15
orientation X          1.5     0.15
            Y          1.5     0.25
            Z          1.5     0.00

In [20]:
# Grouping using index levels
mi = sensor_data.copy()
mi = mi.set_index(['sensor', 'axis'])
mi

                  interval  reading
sensor      axis
accel       Z            0      0.0
            Y            0      0.5
            X            0      1.0
            Z            1      0.1
            Y            1      0.4
            X            1      0.9
            Z            2      0.2
            Y            2      0.3
            X            2      0.8
            Z            3      0.3
            Y            3      0.2
            X            3      0.7
orientation Z            0      0.0
            Y            0      0.1
            X            0      0.0
            Z            1      0.0
            Y            1      0.2
            X            1      0.1
            Z            2      0.0
            Y            2      0.3
            X            2      0.2
            Z            3      0.0
            Y            3      0.4
            X            3      0.3

In [20]:
mi.groupby(level=0).size()

sensor
accel          12
orientation    12
dtype: int64

In [21]:
mi.groupby(level=1).size()

axis
X    8
Y    8
Z    8
dtype: int64

In [22]:
mi.groupby(level=['sensor', 'axis']).size()

sensor       axis
accel        X       4
             Y       4
             Z       4
orientation  X       4
             Y       4
             Z       4
dtype: int64

In [23]:
%timeit mi.groupby(level=['sensor', 'axis']).mean()

1.13 ms ± 2.56 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [24]:
%timeit sensor_data.groupby(['sensor', 'axis']).agg(np.mean)

1.58 ms ± 6.08 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [25]:
# apply multiple aggregation functions at once
sensor_data.groupby(['sensor', 'axis']).agg([np.sum, np.std])

                 interval           reading
                      sum       std     sum       std
sensor      axis
accel       X           6  1.290994     3.4  0.129099
            Y           6  1.290994     1.4  0.129099
            Z           6  1.290994     0.6  0.129099
orientation X           6  1.290994     0.6  0.129099
            Y           6  1.290994     1.0  0.129099
            Z           6  1.290994     0.0  0.000000

In [26]:
df = pd.DataFrame({ 'Label': list("ABABAB"),'Values': [10, 20, 11, np.nan, 12, 22]})
df

  Label  Values
0     A    10.0
1     B    20.0
2     A    11.0
3     B     NaN
4     A    12.0
5     B    22.0

In [27]:
#pd忽略na
df.groupby(['Label']).mean()

       Values
Label
A        11.0
B        21.0

In [28]:
#要這樣寫才不會忽略na
df.groupby(['Label']).agg(lambda x: x.mean(skipna=False))

       Values
Label
A        11.0
B         NaN

In [29]:
#處理na的一些作法
#(22+20)*1/2
df['Values'] = df.groupby(['Label']).transform(lambda x: x.fillna(x.mean()))
df

  Label  Values
0     A    10.0
1     B    20.0
2     A    11.0
3     B    21.0
4     A    12.0
5     B    22.0

In [22]:
# Filtering groups
df = pd.DataFrame({'Label': list('AABCCC'),'Values': [1, 2, 3, 4, np.nan, 8]})
df

  Label  Values
0     A     1.0
1     A     2.0
2     B     3.0
3     C     4.0
4     C     NaN
5     C     8.0

In [23]:
f = lambda x: x.Values.count() > 1
df.groupby('Label').filter(f) #Label B Bye~

  Label  Values
0     A     1.0
1     A     2.0
3     C     4.0
4     C     NaN
5     C     8.0

In [35]:
f = lambda x: x.Values.isnull().sum() == 0
df.groupby('Label').filter(f) #Label C Bye~

  Label  Values
0     A     1.0
1     A     2.0
2     B     3.0

In [9]:
dfNorm = pd.DataFrame(np.random.standard_normal((9,4)))
dfNorm['q'] = ['Q1','Q1','Q1','Q2','Q2','Q2','Q3','Q3','Q3']
dfNorm

          0         1         2         3   q
0  0.974344  0.294481 -0.422576 -0.613305  Q1
1 -0.881421  1.473787  0.743714  0.424309  Q1
2 -0.727481  0.079330  1.761316 -0.371218  Q1
3  0.386435  0.249538  1.012675 -1.298462  Q2
4  0.495270 -0.290554 -1.574271  1.275892  Q2
5  0.680178  0.225334 -1.856342  0.911162  Q2
6 -0.994485 -0.638260 -1.230672  1.448400  Q3
7 -0.833381  0.159259 -0.743313 -0.987972  Q3
8 -0.473672  0.904750 -0.026529 -2.097396  Q3

In [13]:
dfNorm.groupby('q').size()

q
Q1    3
Q2    3
Q3    3
dtype: int64

In [11]:
dfNorm.groupby('q').mean()

           0         1         2         3
q
Q1 -0.211520  0.615866  0.694151 -0.186738
Q2  0.520628  0.061439 -0.805979  0.296198
Q3 -0.767179  0.141916 -0.666838 -0.545656

In [12]:
dfNorm.groupby('q').aggregate([max,min])

           0                   1                   2                   3  \
         max       min       max       min       max       min       max
q
Q1  0.974344 -0.881421  1.473787  0.079330  1.761316 -0.422576  0.424309
Q2  0.680178  0.386435  0.249538 -0.290554  1.012675 -1.856342  1.275892
Q3 -0.473672 -0.994485  0.904750 -0.638260 -0.026529 -1.230672  1.448400


         min
q
Q1 -0.613305
Q2 -1.298462
Q3 -2.097396