In [16]:
import numpy as np
import pandas as pd

In [17]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [18]:
s[1]

2

In [19]:
s[[1, 3]]

1    2
3    4
dtype: int64

In [20]:
s[1:3]

1    2
2    3
dtype: int64

In [22]:
s2 = pd.Series([1, 2, 3, 4], 
               index = ['a', 'b', 'c', 'd'])
s2

a    1
b    2
c    3
d    4
dtype: int64

In [24]:
s2[['a', 'd']]

a    1
d    4
dtype: int64

In [26]:
s.index, s2.index

(RangeIndex(start=0, stop=4, step=1),
 Index(['a', 'b', 'c', 'd'], dtype='object'))

In [31]:
dates = pd.date_range('2016-04-01', '2016-04-06')
temp1 = pd.Series([80, 82, 85, 90, 83, 87], index = dates)
temp2 = pd.Series([70, 75, 69, 83, 79, 77], index = dates)
temp1

2016-04-01    80
2016-04-02    82
2016-04-03    85
2016-04-04    90
2016-04-05    83
2016-04-06    87
Freq: D, dtype: int64

In [33]:
temp2

2016-04-01    70
2016-04-02    75
2016-04-03    69
2016-04-04    83
2016-04-05    79
2016-04-06    77
Freq: D, dtype: int64

In [35]:
temp1 - temp2

2016-04-01    10
2016-04-02     7
2016-04-03    16
2016-04-04     7
2016-04-05     4
2016-04-06    10
Freq: D, dtype: int64